# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
development:
  adapter: postgresql
  host: localhost
  port: 5432
  username: postgres
  password:
  encoding: unicode
  database: diaspora_topic_development
